body {
  border: none;
  margin: none;
  padding: none;
  min-height: 100vh;
  min-width: 100vw;
}

div#root {
  height: 100%
}

.connected {
  height: 100%;
}

.message {
  height: 100%;
  display: flex !important;
  flex: 1 1 auto;
  flex-direction: column;
}

.message-field {
  display: block;
}

.messages {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column-reverse;
}

.waiting {
  width: 100%;
  display: flex !important;
  flex: 1 1 auto;
  justify-content: center;
}